body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0 -8px;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0 0 24px;
  font-size: 56px;
  line-height: 48px;
}

p {
  margin: 0;
}

a {
  color: #000;
  font-weight: 600;
}

.container {
  margin: 0 56px 0 80px ;
  padding: 120px 0 120px;
}

.note {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 60px;
}

.icons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.icon {
  margin: 0 8px 16px;
  text-align: center;
}

.icon-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background: rgba(0,0,0, .04);
}

.icon-box > svg {
  width: 48px;
  height: 48px;
  opacity: .75;
}

.icon > span {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  opacity: .45;
}
