body {
  font-family: sans-serif;
}

ul {
  margin: 0 -8px;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0 0 56px;
  font-weight: normal;

}

.container {
  margin: 0 60px;
  padding: 64px 0;
}

.icons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.icon {
  margin: 16px 8px;
  text-align: center;
}

.icon-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background: rgba(0,0,0, .05);
}

.icon-box > svg {
  width: 48px;
  height: 48px;
  opacity: .75;
}

.icon > span {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
}
