body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0 0 24px;
  font-size: 56px;
  line-height: 48px;
  font-weight: bold;
}

a {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

a:hover{
  color: #000;
}

.container {
  padding: 120px 0 120px;
}

.note {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 60px;
}

.icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 16px;
}

@media(max-width: 991px) {
  .icons {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media(max-width: 767px) {
  .icons {
    grid-template-columns: repeat(4, 1fr);
  }
}

.icon {
  text-align: center;
}

.icon-overlay {
  padding-top: 100%;
  width: 100%;
  position: relative;
}

.icon-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .04);
}

.icon-box svg {
  width: 24px;
  height: 24px;
  opacity: .75;
}

.icon > span {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  opacity: .45;
}
